* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: #161b22;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  color: #fff;
}

.logo {
  &--header {
    margin-left: 32px;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.header-form {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  &__input {
    max-width: 350px;
    width: 100%;
    margin-left: 30px;
    padding: 6px 15px;
    font-size: 14px;

    border-radius: 4px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #0d1117;
    border: 1px solid #21262d;
  }
}

.login {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 20px;
  }
  &-btn {
    cursor: pointer;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(#cf1b24, 0.5);
    border: 1px solid rgb(#cf1b24, 0.75);
    white-space: nowrap;

    &:hover {
      background-color: rgb(#cf1b24, 0.6);
    }
  }
}

.about-project__btn {
  cursor: pointer;
  padding: 8px 15px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  border: 1px solid rgb(#6c1bcf, 1);
  background-color: rgb(#6c1bcf, 0.5);
  border-radius: 4px;
  white-space: nowrap;

  &:hover {
    background-color: rgb(#6c1bcf, 0.6);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  background-color: #010409;
  color: #c9d1d9;
  height: 100vh;
}

.active-skins {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  &__wrapper {
  }

  &__item {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    background-color: #1c1c24;
  }
}

.login-form {
  &__wrapper {
    max-width: 308px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #21262d;
  padding: 16px;
  margin-top: 16px;
  width: 308px;
  border-radius: 6px;

  &__title {
    color: #f0f6fc;
    font-size: 24px;
    font-weight: 300;

    &-wrapper {
      margin-bottom: 16px;
    }
  }
  label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      padding: 5px 12px;
      font-size: 14px;
      line-height: 20px;
      color: #f0f6fc;
      width: 100%;

      border: 1px solid #30363d;
      background-color: transparent;
      border-radius: 6px;
      margin-top: 4px;
      margin-bottom: 16px;
    }
  }
  &__btn {
    cursor: pointer;
    margin-top: 16px;
    padding: 5px 16px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: #238636;
    border-radius: 6px;
    border: none;

    &--active {
      background-color: #1b682a;
      pointer-events: none;
    }
  }
}

.newbie-banner {
  width: 100%;
  margin: 16px 0 10px 0;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #30363d;

  a {
    color: #58a6ff;
    text-decoration: none;
    font-weight: 400;
  }
}

.flash-error {
  font-size: 14px;
  color: #c9d1d9;
  &__wrapper {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(#cf1b24, 0.2);
    border: 1px solid rgb(#cf1b24, 0.65);
    border-radius: 6px;

    button {
      cursor: pointer;
      background-color: transparent;
      padding: 5px;
      border: none;

      display: flex;
      align-items: center;

      svg {
        fill: rgb(#cf1b24, 0.75);
        margin-top: 3px;
      }
    }
  }
}

.header-profile {
  position: relative;
  margin-right: 15px;
  cursor: pointer;

  &__icon {
    user-select: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: #0d1117;
    border: 1px solid #21262d;
    justify-content: center;
    font-size: 21px;
    background-position: center;
    background-size: cover;
  }
  &__popup {
    font-size: 14px;
    position: absolute;
    right: 0;
    width: 180px;
    background-color: #161b22;
    border: 1px solid #30363d;
    padding: 4px 0;
    border-radius: 6px;
    &-user {
      padding: 8px 16px;
      color: #c9d1d9;
    }
    &-signOut {
      padding: 8px 16px;
      &:hover {
        background-color: #30363d;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style: none;

    a {
      color: #fff;
      text-decoration: none;
    }
    &-item {
      padding: 4px 8px 4px 16px;
      &:hover {
        background-color: #30363d;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 0.5px;
  margin: 5px 0;
  background-color: #30363d;
}

.profile {
  width: 100%;
  margin-top: 30px;

  &__avatar {
    width: 200px;
    height: 200px;
    background-color: #0d1117;
    border-radius: 12px;

    background-position: center;
    background-size: cover;
  }
}
